ProcessOrchestration/bpelContent/SubstractionService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns1="http://ppp.gl4.insat.tn/sevices/substraction-service"
	name="SubstractionService" targetNamespace="http://ppp.gl4.insat.tn/sevices/substraction-service">
	<wsdl:types>
		<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
			xmlns:tns="http://ppp.gl4.insat.tn/sevices/substraction-service"
			elementFormDefault="unqualified"
			targetNamespace="http://ppp.gl4.insat.tn/sevices/substraction-service"
			version="1.0">
			<xs:element name="substractRequest" type="tns:substractRequest" />
			<xs:element name="substractResponse" type="tns:substractResponse" />
			<xs:complexType name="substractRequest">
				<xs:sequence>
					<xs:element minOccurs="0" name="arg0" type="xs:int" />
					<xs:element minOccurs="0" name="arg1" type="xs:int" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="substractResponse">
				<xs:sequence>
					<xs:element minOccurs="0" name="return" type="xs:int" />
				</xs:sequence>
			</xs:complexType>
		</xs:schema>
	</wsdl:types>
	<wsdl:message name="substractResponse">
		<wsdl:part element="ns1:substractResponse" name="parameters"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="substract">
		<wsdl:part element="ns1:substractRequest" name="parameters"></wsdl:part>
	</wsdl:message>
	<wsdl:portType name="SubstractionService">
		<wsdl:operation name="substract">
			<wsdl:input message="ns1:substract" name="substract"></wsdl:input>
			<wsdl:output message="ns1:substractResponse" name="substractResponse"></wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
</wsdl:definitions>